html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    cursor: url('cursor.png'), auto; /* Custom cursor image */}
body {
    background: url('background.png') no-repeat center center fixed;
    background-size: cover;
    font-family: "Courier New", Courier, monospace;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.explorer-window {
    border: 0.1vw solid #000;
    background-color: #fff;
    width: 60vw;
    height: 40vw;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
}
.explorer-header {
    background-color: #f0f0f0;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 4rem;
    border-bottom: 0.1vw solid #000;
}
.explorer-header h1 {
    font-size: 4rem;
    margin: 0;
}
.explorer-body {
    flex: 1;
    padding: 1vw;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 1.2vw; 
    background-color: #f0f0f0; 
    border: 0.1vw solid black; 
}

::-webkit-scrollbar-thumb {
    background-color: #abaa9f; 
    border-radius: 0; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}

* {
    scrollbar-width: thin; 
    scrollbar-color: #888 #f0f0f0; 
}

.desktop {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: center;
}
.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 30vw;
    padding: 1vw;
    font-size: 3rem;
    word-wrap: break-word;
    overflow: hidden;
    font-weight: bold;
}
.icon img {
    width: 4vw; 
    height: auto; 
    margin-bottom: 0.5vw;
}
.file-size {
    color: #666;
    font-size: 0.5rem;
}
.artist-name {
    font-size: 3rem;
    color: #333;
    margin-top: 0.5vh;
    font-style: italic;
    font-weight: normal;
}

@media (max-width: 768px) {
    .icon {
        font-size: 1rem; 
    }

    .icon img {
        width: 6vw; 
    }

    .artist-name {
        font-size: 1rem;
    }
    .explorer-header {
        background-color: #f0f0f0;
        padding: 0.25rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1rem;
        border-bottom: 0.08vw solid #000;
    }
    .explorer-header h1 {
        font-size: 1rem;
        margin: 0;
    }   
    .explorer-window {
        border: 0.1vw solid #000;
        background-color: #fff;
        width: 80vw;
        height: 55vh;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
    }
}

.icon a {
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
}
